*.o
*.pyc
Makefile
Makefile.pre
Misc/python.pc
Modules/Setup
Modules/Setup.config
Modules/Setup.local
Modules/config.c
Modules/ld_so_aix
Parser/pgen
Parser/pgen.stamp
build/
config.log
config.status
libpython2.7.a
libpython2.7.so
libpython2.7.so.1.0
pyconfig.h
python
python-gdb.py

